<app-barra-navegacion></app-barra-navegacion>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <!-- Contenido de la pantalla de notas -->
                    <h1 class="card-title text-center mb-4 ">Notas</h1>
                    <div class="row justify-content-center">
                        <div class="form-group col-4 my-3">
                            <label for="cursoSelect">Curso:</label>
                            <select class="form-select" id="cursoSelect" (change)="obtenerNotas()" [(ngModel)]="curso">
                                <option *ngFor="let curso of cursos" value={{curso.id}}>{{curso.asignatura + ' - ' +
                                    curso.nivel + ' - ' + curso.paralelo}}</option>
                                <!-- Agrega más opciones de curso según tus necesidades -->
                            </select>
                        </div>
                    </div>
                    <app-tabla [dataSource]="notas" [displayedColumns]="columnas"></app-tabla>
                    <!-- Agrega otros elementos de la página de notas aquí -->
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col text-center">
            <button class="btn btn-primary" (click)="exportToExcelTemplate()">Descargar formato</button>
        </div>
        <div class="col row text-center">
            <input class="form-control col" type="file" (change)="onFileSelected($event)">
            <button class="btn btn-primary col-3" (click)="cargarDatos()">Cargar Datos</button>
        </div>
    </div>
</div>